@media (max-width: 768px) {

    .container {
        width: 100vw;
        margin: 0;
    }

    body {
        font-size: 0.9rem;
        max-width: 50%;
    }

    h1 {
        font-size: 1.5rem;
    }

    .redes-sociais img {
        width: 50px;
    }

    .formacoes img {
        width: 65px;
        height: 50px;
    }

    .tecnologias img {
        width: 50px;
    }

    .imgs img {
        width: 50px;
    }

    .rodape img {
        width: 50px;
    }

    .rodape {
        font-size: 1rem;
    }

    .cabecalho, .rafael-nome, [data-tooltip]{
        display: none;
    }
}