@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:root {
  --principal: #17191B;
  --principalHover: #E09F1F;
  --principalTexto: #E3E6C3;
  --principalTip: #81253A;
  --light: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Kanit, sans-serif;
  background-color: var(--principal);
  color: var(--principalTexto);
  font-size: 1.8em;
  text-align: center;
}

p, a, h1 {
  color: var(--principalTexto);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: var(--principalTexto);
}

html {
  scroll-behavior: smooth;
}

/* Cabeçalho */
.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.cabecalho-menu {
  display: flex;
  gap: 45px;
  margin: auto;
}

.cabecalho-menu a {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.5;
  font-weight: bolder;
}

.cabecalho-menu a:hover {
  color: var(--principalHover);
  transition: all 0.6s ease-in-out;
}

.cabecalho-menu a::after {
  display: block;
  margin: 0 auto;
  width: 0;
  height: 2px;
  background-color: var(--light);
  content: "";
  transition: width 0.6s, opacity 0.8s;
}

.cabecalho-menu a:hover::after{
  width: 100%;
}

/* Rafael Rocha Animação Do Nome */
.rafael-nome {
  padding: 4%;
  font-size: 7rem;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  animation: escrevendo 4s steps(40) 1s 1 normal both;
}

@keyframes escrevendo {
  from {
    width: 0;
  }
  to {
    width: 9em;
  }
}

/* Icone de rolldown */
.animate-icons {
  font-size: 4rem;
  opacity: 1;
  animation: anima 1500ms ease infinite;
}
@keyframes anima {
  to {
      opacity: 0.1;
      transform: scale(0.85) translateY(20px);
  }
}

/* Conteúdo Principal */
.mainmenu {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

/* Sobre Mim */
.text {
  display: flex;
  padding-top: 10%;
  font-family: Josefin Sans, sans-serif;
  text-align: start;
  letter-spacing: -1px;
  word-spacing: -1px;
  max-width: 72%;
  margin: auto;
}

/* Zoom para Todos os elementos img que vão vir no código a seguir */
.zoom img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.zoom:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Redes Sociais, configs */
.redes-sociais {
  display: flex;
  flex-direction: column;
  padding: 9%;
  align-items: center;
}

.redes-sociais img {
  width: 80px;
}

/* Formações, configs */
.formacoes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: bolder;
}

.formacoes img {
  width: 240px;
  height: 180px;
}

.itens-formacoes {
  display: flex;
  gap: 80px;
}

/* Tecnologias, configs */
.tecnologias {
  display: flex;
  flex-direction: column;
  padding: 9%;
}

/* Projetos, configs */
.projetos {
  display: flex;
  flex-direction: row;
  padding: 9%;
}

.imgs {
  padding: 45px;
}

.img {
  margin: 55px;
}

[data-tooltip] {
  position: relative;
  font-weight: bolder;
  font-size: 80%;
  text-align: center;
}

[data-tooltip]:after {
  display: none;
  position: absolute;
  width: 140px;
  height: 40px;
  border-radius: 20px;
  left: 6%;
  margin-top: 5%;
  content: attr(data-tooltip);
  background-color: var(--principalTip);
  color: var(--light);
}

.img-2[data-tooltip]:after {
  display: none;
  position: absolute;
  width: 140px;
  height: 40px;
  border-radius: 20px;
  left: 15%;
  margin-top: -1%;
  content: attr(data-tooltip);
  background-color: var(--principalTip);
  color: var(--light);
}

.img-2Ml[data-tooltip]:after {
  display: none;
  position: absolute;
  width: 140px;
  height: 40px;
  border-radius: 20px;
  left: 8%;
  margin-top: -1%;
  content: attr(data-tooltip);
  background-color: var(--principalTip);
  color: var(--light);
}

.zelda img{
  position: relative;
  left: 10px;
}

[data-tooltip]:hover:after {
  display: block;
}

.rodape {
  display: flex;
  flex-direction: column;
  padding-top: 8%;
  max-width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

.rodape img {
  width: 70px;
}
