* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}

.cabecalho-item {
  font-size: 1.3rem;
  font-weight: 400;
}

.cabecalho-menu {
  display: flex;
  gap: 30px;
}

.button-dark:hover {
  background-color: #f1f4ff;
}

.mainmenu {
  padding: 20px;
  margin-bottom: 48px;
  border-top: 0.4px solid white;
}

.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.redes-sociais {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tecnologias {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.projetos {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: right;
}

body {
  font-family: Kanit, sans-serif;
  background-color: black;
  color: white;
  font-size: 1.6rem;
}

p {
  font-family: Josefin Sans, sans-serif;
  text-align: left;
  letter-spacing: -1px;
  word-spacing: -1px;
  overflow-y: scroll;
}
