@media (max-width: 728px) {
}
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Kanit, sans-serif;
  background-color: black;
  /* background-image: url("icons/rainbow-gif.gif"); */
  background-size: 100%;
  color: white;
  font-size: 1.8em;
}

/* Cabeçalho */
.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}

.cabecalho-item {
  color: white;
  font-size: 0.90em;
  font-weight: 400;
}

.cabecalho-menu {
  display: flex;
  gap: 45px;
}

.img-rafa {
  border-radius: 50%;
  position: absolute;
  top: 18px;
  bottom: 550px;
  left: 75px;
}

/* Ajustes Aba de música */
.music {
  position: absolute;
  bottom: 4400 px;
  left: 20px;
}

/* Rafael Rocha Nome */
.rafael-nome {
  padding-top: 4%;
  font-size: 3.5em;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  animation: escrevendo 4s steps(40) 1s 1 normal both,
  cursor-escrevendo 500ms steps(40) infinite normal;
}

@keyframes escrevendo {
  from {
        width: 0;
  }
  to {
        width: 9em;
  }
}

@keyframes cursor-escrevendo {
  from {
        border-right-color: whitesmoke;
  }
  to {
        border-right-color: transparent;
  }
}

/* Conteúdo Principal */
.mainmenu {
  text-align: center;
  padding: 20px;
  margin-bottom: 48px;
}

/* Sobre Mim */
.text {
  padding-top: 162px;
  display: flex;
  flex-direction: column;
  font-family: Josefin Sans, sans-serif;
  text-align: start;
  letter-spacing: -1px;
  word-spacing: -1px;
  max-width: 60%;
  margin: auto;
  color: white;
}

/* Redes Sociais, configs */
.redes-sociais {
  display: inline-block;
  flex-direction: column;
  align-items: center;
}

/* Formações, configs e zoom */
.formacoes {
  padding-top: 60px;
  display: inline-block;
}
.formacoes img {
  max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.formacoes:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* Tecnologias, configs */
.tecnologias {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Projetos, configs e zoom*/
.projetos {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

.itens-projeto {
  display: inline-block;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  gap: 80px;
}

.itens-projeto img {
  max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.itens-projeto:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}