* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Kanit, sans-serif;
  background-color: black;
  /* background-image: url("icons/rainbow-gif.gif"); */
  background-size: 100%;
  color: white;
  font-size: 1.6rem;
}

html {
  scroll-behavior: smooth;
}

/* Cabeçalho */
.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}

.cabecalho-item {
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
}

.cabecalho-menu {
  display: flex;
  gap: 30px;
}

/* Conteúdo Principal */
.mainmenu {
  border-top: 0.4px solid white;
  text-align: center;
  padding: 20px;
  margin-bottom: 48px;
}

.text {
  padding-top: 560px;
  display: flex;
  flex-direction: column;
  font-family: Josefin Sans, sans-serif;
  text-align: start;
  letter-spacing: -1px;
  word-spacing: -1px;
  max-width: 60%;
  margin: auto;
}

.redes-sociais {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formacoes {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.tecnologias {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.projetos {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.itens-projeto {
  display: flex;
  padding: 5%;
  gap: 60px;
}