ul, li {
  height: 100%;
  width: 100%;
}

.planet {
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rafael-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  text-shadow: 0 0 30px;
  white-space: nowrap;
  font-weight: 800;
  text-align: center;
}