@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:root {
  --background: #fff;
  --principalHover: #144E66;
  --principalTip: #2f80ed;
  --light: #171212;
}

.dark-mode:root {
  --background: #171212;
  --principalHover: #2f80ed;
  --principalTip: #b72315;
  --light: #d4d4d8;
  --cards: #16181b;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--background);
  border: 3px solid var(--background);
  border-radius: 20px;
}

body {
  background-color: var(--background);
  height: 100vh;
  color: var(--light);
  font-family: Kanit, sans-serif;
  font-size: 1.8em;
  text-align: center;
}

.card-side {
  background-color: var(--cards);
}

.color {
  background-color: var(--background);
}

p, h1 {
  text-decoration: none;
  font-weight: 500;
}

/* Cabeçalho */
.cabecalho-menu a::after {
  display: block;
  margin: 0 auto;
  width: 0;
  height: 2px;
  background-color: var(--light);
  content: "";
  transition: width 0.6s, opacity 0.8s;
}

.cabecalho-menu a:hover::after{
  width: 100%;
}

/* Conteúdo Principal */
.mainmenu {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

/* Sobre Mim */
.text {
  display: flex;
  padding-top: 10%;
  font-family: Josefin Sans, sans-serif;
  text-align: start;
  letter-spacing: -1px;
  word-spacing: -1px;
  max-width: 72%;
  margin: auto;
}

/* Zoom para Todos os elementos img que vão vir no código a seguir */
.zoom img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.zoom:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

[data-tooltip] {
  position: relative;
  font-weight: bolder;
  font-size: 80%;
  text-align: center;
}

.frames[data-tooltip]:after {
  display: none;
  position: absolute;
  width: 140px;
  height: 40px;
  border-radius: 20px;
  left: -3%;
  margin-top: 9%;
  content: attr(data-tooltip);
  background-color: var(--principalTip);
  color: var(--light);
}

[data-tooltip]:hover:after {
  display: block;
}
