@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

.light-mode:root {
  --background: #fff;
  --principalHover: #144E66;
  --light: #171212;
  --cards: #d4d4d8;
}

:root {
  --background: #171212;
  --principalHover: #2f80ed;
  --light: #d4d4d8;
  --cards: #16181b;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--background);
  border: 3px solid var(--background);
  border-radius: 20px;
}

body {
  background-color: var(--background);
  height: 100vh;
  color: var(--light);
  font-family: Kanit, sans-serif;
  font-size: 1.8em;
  text-align: center;
}

.card-side {
  background-color: var(--cards);
}

.color {
  background-color: var(--background);
  color: var(--light);
  transition: background 0.2s ease,
    padding 0.8s linear;
}

p, h1 {
  text-decoration: none;
  font-weight: 500;
}

/* Cabeçalho */
.cabecalho-menu p::after {
  display: block;
  margin: 0 auto;
  width: 0;
  height: 2px;
  background-color: var(--light);
  content: "";
  transition: width 0.6s, opacity 0.8s;
}

.cabecalho-menu p:hover::after{
  width: 100%;
}

/* Sobre Mim */
.text {
  display: flex;
  padding-top: 10%;
  font-family: Josefin Sans, sans-serif;
  text-align: start;
  letter-spacing: -1px;
  word-spacing: -1px;
  max-width: 72%;
  margin: auto;
}

.transform-translate {
  transform: translate(-50%, -50%);
}

.text-shadow {
  text-shadow: 0 0 30px;
}